* {margin:0;padding:0;}
body{background: #E0EDFF url(../images/body-bg.jpg) repeat-x 0% 0%;padding: 20px 0 20px 0;}
#header_logo_content {position: relative;}
.site-logo {
	background: url(../images/logo.png) no-repeat 0% 0%;
	width: 132px;
	height: 36px;
	position: absolute;
	z-index: 1;
	margin: 10px 0 0 0;
}
#page_wrapper {
	border: 1px solid #5E87BE;
	background: #6087BE url(../images/page-bg.jpg) repeat-x 0% 0%;
	-moz-border-radius-topright:15px;
	-moz-border-radius-topleft:15px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	-webkit-border-top-right-radius:15px;
	-webkit-border-top-left-radius:15px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-top-right-radius:15px;
	border-top-left-radius:15px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	padding: 0 5px;
}
#header {height:105px;}
#breadcrumbs_block_content {
	border: 1px solid #5E87BE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #6087BE url(../images/headline-bg.jpg) repeat-x 0% 0%;
	padding:5px 10px;
	margin-bottom: 10px;
}
#sidebar_left_content,
#main_content_content,
#sidebar_right_content {
	border: 1px solid #5E87BE;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #F7F7F7;
}
#footer {margin-top: 10px;}
p.rightLinks{float:right;}