@CHARSET "ISO-8859-1";
body{
font-family:"Trebuchet MS", Arial;
font-size:12px;
background:url(../images/body.jpg) repeat-x #E0EDFF;
}

#header{
background:#fff;
border-top:#000 1px solid;
border-left:#000 1px solid;
border-right:#000 1px solid;
height:70px;
padding-top:10px;
}

#header_logo{
}

#header_logo a img{
	border:none;
	margin-left:20px;
}

#quickSearchForm{
	background:url(../images/quick-search-form.png) no-repeat;
	height:35px;
	padding-bottom:3px;
	margin:10px 0 0 0;
}

#quickSearchForm input#keywords{
	margin:1px 8px 5px 8px;
	width:180px;
	height:20px;
	padding:4px 0 0 0;
	border:#fff 1px solid;
	float:left;
}

#quickSearchForm input#search{
	margin:2px  10px 0 0;
	height:24px;
	padding:2px;
	width:90px;
	background:#ccc;
	border:#ccc 1px solid;
	font-weight:bold;
}


#nav{
background:url(../images/nav.png) repeat-x;
border-left:#000 1px solid;
border-right:#000 1px solid;
height:30px;
}

#body{
background:#fff;
border-bottom:#000 1px solid;
border-left:#000 1px solid;
border-right:#000 1px solid;
}

#content div.innerContent{
	padding:20px;
}

#footer{
clear:both;
}

#footer p{
padding:20px;
text-align:center;
}
