/* CSS Document */
*{
margin:0;
padding:0;
}

body{
background:url(../images/body-bg.jpg) repeat-x #E0EDFF;
padding:20px 0 0 0;
}

#page{
width:1000px;
margin:0 auto;
}

#header{
background:url(../images/header-bg.png) no-repeat;
height:95px;
padding:0 20px;
}

#pageShadow{
padding:0 20px;
background:url(../images/page-shadow.png) repeat-y;
}

#pageInner{
background:url(../images/page-bg.jpg) repeat-x #D8E7FE bottom;
border-left:#5D86BD 1px solid;
border-right:#5D86BD 1px solid;
}

#sidebar{
clear:both;
float:left;
width:200px;
margin:5px;
}

#centerPane{
float:left;
width:745px;
margin:5px 0;
}

#toolbar{
height:16px;
margin:0 0 5px 0;
padding:12px 10px;
background:url(../images/toolbar.png) no-repeat;
}

#main{
float:left;
width:540px;
margin:0 5px 0 0;
background:#fff;
}

#options{
float:left;
width:200px;
margin:0;
}
					
#footer{
background:url(../images/footer-bg.png) no-repeat;
height:40px;
}

.column{
background:url(../images/column-footer.png) no-repeat bottom;
padding:0 0 10px 0;
}

.column h2.top{
background:url(../images/column-header.png) no-repeat;
height:16px;
padding:8px;
border-bottom:#5D86BD 1px solid;
}

#main{
background:url(../images/main-footer.png) no-repeat bottom;
padding:0 0 10px 0;
}

#main h2.top{
background:url(../images/main-header.png) no-repeat;
height:16px;
padding:8px;
border-bottom:#5D86BD 1px solid;
}

#form{
border-left:#5D86BD 1px solid;
border-right:#5D86BD 1px solid;
background:#fff;
min-height:535px;
padding:10px 0;
}

.columnBody{
border-left:#5D86BD 1px solid;
border-right:#5D86BD 1px solid;
background:#fff;
}

#sidebar .columnBody{
min-height:600px;
}

#options .columnBody{
min-height:555px;
}

p.rightLinks{
float:right;
}


.clearFix:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Hides from IE-mac \*/
	 html .clearFix {height:1%;}
/* End hide from E-mac */

.clearBoth{
clear:both;
}

