/* CSS Document */
body{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
a {color: #29486F;text-decoration: none;}
a:hover {color: #5d86bd;}
.padding-10 {padding: 10px;}
h1{}

h2{}

.innerContent h2{
color:#15428B;
font-size:16px;
padding:0 10px;
}

h3{
clear:both;
background:url(../images/side-colum-title-bg.jpg) repeat-x;
color:#15428B;
font-size:14px;
padding:5px;
margin:10px 0 5px 0;
border-top: 1px solid #BCD4F6;
border-bottom: 1px solid #BCD4F6;
}

fieldset h3{
background:none;
font-style:italic;
color:#000;
}

h2.top{
	text-transform:uppercase;
	border-bottom: 1px solid #5E87BE;
	background: #6087BE url(../images/headline-bg.jpg) repeat-x 0% 0%;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
}

.column p{
padding:5px;
}

h3{}

h4{}

p{}

ul, ol{
	padding:5px 0 5px 0px;
	list-style-type: none;
}

ul ul{
 padding:5px 0 0 15px;
}

.columnBody li{
	
	margin: 0 0 5px 0;
}

ol{}

ol li{}

#form p{
margin:5px;
}


