/* CSS Document */
*{
padding:0;
margin:0;
}

body{
font-size:12px;
background: url(../images/body-bg.jpg) repeat-x;
}

#pageWrapper{
width:960px;
margin:0 auto 0 auto;
padding:10px 0 20px 0;
}

#header{
height:75px;
margin:0 20px 0 20px;
}

#logo{
display:block;
width:300px;
height:70px;
float:left;
}

#logo img{
border:none;
}

#top{
float:left;
width:300px;
margin-left:300px;
}

#page{
padding:24px 0 20px 0;
}

#centerPane{
width:650px;
float:left;
padding-left:20px;
}

#leftPane{
width:260px;
float:left;
}

.sideBox{
margin-bottom:10px;
}

pre{
border:#6F8CF4 1px solid;
padding:10px;
background-color:#D6E6FF;
margin:0 0 10px 0;
overflow:auto;
font-size:11px;
}

table.spreadsheet{
border:#333 2px solid;
font-size:11px;
width:450px;
margin-bottom:10px;
}

table.spreadsheet td{
border-top:#ccc 1px solid;
border-bottom:#666 1px solid;
padding:5px 10px 5px 10px;
}

.clearFix:after{
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/* Hides from IE-mac \*/
	 html .clearFix {height:1%;}
/* End hide from E-mac */

.clearBoth{
clear:both;
}



#copyright{

}



