/* CSS Document */
label{
clear:both;
}

textarea.small{
width:200px;
height:50px;
}

textarea.med{
width:350px;
height:100px;
}

textarea.med_short{
width:350px;
height:50px;
}

textarea.large{
width:600px;
height:200px;
}

input.med{
width:350px;
}

input.large{
width:600px;
}

.formTop{
float:left;
margin-bottom:5px;
}

.formTop textarea{
width:475px;
height:50px;
}

.formLeft{
margin-right:10px;
}

.formLeft, .formRight{
float:left;
width:230px;
margin-bottom:5px;
}

.formLeft{
clear:both;
}

#fileContents{
width:475px;
height:250px;
margin-bottom:10px;
}

#centerPane label{
clear:both;
display:block;
padding:5px;
margin:0 0 5px 0;
}

#centerPane label span{
display:block;
float:left;
width:200px;
font-weight:bold;
text-align:right;
padding-right:20px;
}



#centerPane label span.group{
text-align:left;
}

#centerPane label span.group input{
clear:both;
}

#leftPane label{
clear:both;
display:block;
padding:5px;
margin:0 0 5px 0;
}

#leftPane label span{
display:block;
font-weight:bold;
color:#666;
}


.formBox{
padding:10px;
background-color:#fff;
border:#97ADD4 1px dotted;
margin: 0 0 10px 0;
background-image:url(../images/simple_box_bg.png);
background-repeat:repeat-x;
background-position:bottom;
}

.formBox.tile{
float:left;
width:290px;
margin-right:10px;
}

#results{
height:400px;
overflow:auto;
margin:20px;
padding:20px;
background-color:#000;
color:white;
}

#results h3{
color:#999;
font-size:12px;
}

#results p{
clear:both;
font-size:11px;
}

#results p.dateTime{
float:right;
clear:none;
margin-left:50px;
font-size:10px;
font-style:italic;
color:#ccc;
}

#results a{
color:white;
}

form label.formRow em{
font-weight:normal;
font-size:11px;
font-style:normal;
}

span.group input{
float:left;
margin-right:10px;
}

p.rightLink{
text-align:right;
padding-right:50px;
}

#saveBox{
position:fixed;
z-index:1;
top:25px;
right:25px;
background-color:#fff;
border:#000 5px solid;
padding:10px;
width:200px;
}

div.imageWrapper{
padding:5px 10px 15px 10px;
border:#ccc 1px solid;
margin:5px;
}

div.imageWrapper img{
float:left;
width:120px;
height:auto;
margin:0 20px 0 20px;
}

div.imageWrapper textarea{
float:left;
width:120px;
height:50px;
}

#leftPane select{
max-width:240px;
}

#centerPane select{
max-width:350px;
}


