/* CSS Document */
p#breadcrumbs{
font-size:11px;
color:black;
margin-bottom:15px;
}

#adminUser ul{
list-style:none;
padding:0 0 0 100px;
height:30px;
}

#adminUser ul li{
color:#fff;
font-weight:bold;
}

#adminUser ul li a{
text-decoration:none;
color:white;
font-size:11px;
padding:0;
font-weight:normal;
}

#adminUser ul li a:hover{
text-decoration:underline;
}

#adminUser ul li a.last{
border-right:none;
}

.tabs ul{
list-style:none;
padding-left:100px;
margin:10px 0 0 0;
padding:0 0 0 100px;
height:30px;
}

.tabs ul li{
display:inline;
}

.tabs ul li a{
display:block;
height:25px;
width:180px;
float:left;
text-decoration:none;
font-size:14px;
font-weight:bold;
text-align:center;
padding:5px 0 0 0;
margin-right:5px;
background-color:#333;
color:#ccc;
}

.tabs ul li a:hover{
color:#f5f5f5;
background-color:#444;
}

.tabs ul li a.selected{
background: url(../images/tab-selected.png) repeat-x;
color:black;
}


#adminMenu{
clear:both;
text-decoration:none;
width:960px;
margin:0px auto 0 auto;
padding:0;
height:32px;
}

#adminMenu li{
display:inline;
}

#adminMenu a{
display:block;
float:left;
height:25px;
padding:7px 20px 0 20px;
border-left:#4D8C00 1px solid;
border-right:#6AA900 1px solid;
text-decoration:none;
font-size:16px;
font-weight:bold;
color:white;
}

#adminMenu a.selected{
background-image: url(../images/selected-nav.png);
background-repeat:no-repeat;
background-position:top center;
color:black;
}

#adminMenu a:hover{
}

#adminMenu a.selected{
}
