/* CSS Document */

body{
font-family:Calibri, Arial, Helvetica, sans-serif;
}

h1{
color:#529100;
font-size:32px;
margin-bottom:15px;
}

h2, h3, h4, p{
margin-bottom:10px;
}

h2{
color:#97ADD4;
margin-top:5px;
}
.formBox h2{
color:#97ADD4;
font-size:20px;
margin-bottom:10px;
padding-bottom:10px;
border-bottom:#97ADD4 1px dotted;
}

.formBox ul{
padding:0;
list-style:none;
}

.formBox li{
margin-bottom:5px;
}

.formBox li a{
height:25px;
padding:0 0 0 25px;
text-decoration:none;
color:#333;
font-weight:bold;
}

#rightPane h2{
color:#173C54;
}

h3{
color:#173C54;
font-style:italic;
margin-top:5px;
}

ul, ol{
padding:10px 10px 10px 30px;
}

li{
margin-bottom:5px;
}

#copyright{
background:url(../images/footer.png);
background-repeat:no-repeat;
background-position:top center;
clear:both;
margin:20px;
padding:40px 0 0 0;
text-align:center;
color:#666;
font-size:11px;
}