@charset "UTF-8";

body {
    font-size: 14px;
    font-family: "Calibri","Arial";
}

#wrapper {
    margin: 20px auto 0 auto;
    padding: 20px;
    border: #333 1px solid;
    width: 600px;
}

label {
    display: block;
    float: left;
    width: 150px;
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
    clear: both;
}

input {
    width: 200px;
    padding: 2px;
}

.formRow {
    margin: 10px;
    clear: both;
}

p {
    clear: both;
}

ul {
    list-style: none;
}

li {
    padding-left: 30px;
    margin-left: 30px;
    font-size: 16px;
}

div.message {
    background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em;
}
div.warning {
    background: #ffe; color: #440; border: 2px #884 solid; padding: 10px; margin-bottom: 1em;
}
div.error {
    background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em;
}

.message img {
    background: url('../images/icons/silk/flag_green.png') no-repeat;
}
.warning img {
    background: url('../images/icons/silk/flag_yellow.png') no-repeat;
}
.error img {
    background: url('../images/icons/silk/flag_red.png') no-repeat;
}

label.error {
    width: 400px;
    padding: 5px;
    color: #ff0000;
}

input {
    float: left;
}

#footer {
    clear: both;
    text-align: center;
    padding: 50px 0 0 0;
}

.clear {
    clear: both;
}

a img {
    border: none;
}

div#languages ul li {
    display: inline;
    padding-left: 5px;
    margin-left: 5px;
    font-size: 0.8em;
}