/* CSS Document */
h2#add{
padding-left:50px;
background-image:url(../images/icons/med/add.gif);
background-repeat:no-repeat;
}

h2#myPages{
padding-left:50px;
background-image:url(../images/icons/med/folder.gif);
background-repeat:no-repeat;
}

h2#settings{
padding-left:50px;
background-image:url(../images/icons/med/settings.gif);
background-repeat:no-repeat;
}

h2#user{
padding-left:50px;
background-image:url(../images/icons/med/user.gif);
background-repeat:no-repeat;
}

h2.save{
padding-left:50px;
background-image:url(../images/icons/med/save.gif);
background-repeat:no-repeat;
}

h2.settings{
padding-left:50px;
background-image:url(../images/icons/med/settings.gif);
background-repeat:no-repeat;
}

h2.menu{
padding-left:50px;
background-image:url(../images/icons/med/menu.gif);
background-repeat:no-repeat;
}

h2.export{
padding-left:50px;
background-image:url(../images/icons/med/export.gif);
background-repeat:no-repeat;
}

h2.trash{
padding-left:50px;
background-image:url(../images/icons/med/trash.gif);
background-repeat:no-repeat;
}

h2.userGroup{
padding-left:50px;
background-image:url(../images/icons/med/user-group.gif);
background-repeat:no-repeat;
}

h2.calendar{
padding-left:50px;
background-image:url(../images/icons/med/event.gif);
background-repeat:no-repeat;
}

h2.contact{
padding-left:50px;
background-image:url(../images/icons/med/credentials.gif);
background-repeat:no-repeat;
}

h2.info{
padding-left:50px;
background-image:url(../images/icons/med/information.gif);
background-repeat:no-repeat;
}

h2.note{
padding-left:50px;
background-image:url(../images/icons/med/note.gif);
background-repeat:no-repeat;
}

h2.report{
padding-left:50px;
background-image:url(../images/icons/med/report.gif);
background-repeat:no-repeat;
}


h3.page{
background-image:url(../images/icons/small/page.gif);
background-repeat:no-repeat;
}

a.user, a.job{
padding-left:30px;
background-image:url(../images/icons/small/user.gif);
background-repeat:no-repeat;
}


a.job{
padding-left:30px;
background-image:url(../images/icons/small/user-group.gif);
background-repeat:no-repeat;
}

a.report{
padding-left:30px;
background-image:url(../images/icons/small/report.gif);
background-repeat:no-repeat;
}

a.page, a.program{
padding-left:30px;
background-image:url(../images/icons/small/page.gif);
background-repeat:no-repeat;
}


a.menu, a.poll{
padding-left:30px;
background-image:url(../images/icons/small/menu.gif);
background-repeat:no-repeat;
}

a.dir{
background-image:url(../images/icons/small/folder.gif);
background-repeat:no-repeat;
}

a.page{
background-image:url(../images/icons/small/page.gif);
background-repeat:no-repeat;
}

a.calendar{
background-image:url(../images/icons/small/event.gif);
background-repeat:no-repeat;
}

a.document, a.event{
background-image:url(../images/icons/small/note.gif);
background-repeat:no-repeat;
}

a.image, a.gallery{
background-image:url(../images/icons/small/image.gif);
background-repeat:no-repeat;
}

a.news{
background-image:url(../images/icons/small/information.gif);
background-repeat:no-repeat;
}


a.resource{
background-image:url(../images/icons/small/settings.gif);
background-repeat:no-repeat;
}


a.contact{
background-image:url(../images/icons/small/mail.gif);
background-repeat:no-repeat;
}

a.handle{
background-image:url(../images/icons/med/sort.gif);
background-repeat:no-repeat;
}