fieldset{
border-top:#666 1px dotted;
border-bottom:#ccc 1px dotted;
border-left:#ccc 1px dotted;
border-right:#ccc 1px dotted;
margin:10px 0 10px 0;
background-color:#f5f5f5;
padding:10px;
}

fieldset legend{
padding:2px 5px 2px 5px;
border:#666 1px dotted;
background-color:#ccc;
}

label{
display:block;
margin:0 10px 10px 20px;
}

label span{
display:block;
float:left;
width:150px;
text-align:right;
padding-right:10px;
}
