@CHARSET "ISO-8859-1";
body{
font-size:14px;
font-family:"Calibri","Arial";
}

#wrapper{
	margin:20px auto 0 auto;
	padding:20px;
	border:#333 1px solid;
	width:600px;
}

label{
	display:block;
	float:left;
	width:150px;
	padding-right:10px;
	font-weight:bold;
	text-align:right;
	clear:both;
}

input{
	width:200px;
	padding:2px;
}

.formRow{
	margin:10px;
	clear:both;
}

p.test{
padding-left:20px;
margin-left:30px;
font-size:16px;		
}

p.passed{
background:url(../images/icons/flag_green.png) no-repeat;
}

p.warning{
background:url(../images/icons/flag_yellow.png) no-repeat;	
}

p.error{
background:url(../images/icons/flag_red.png) no-repeat;
}

label.error{
	width:400px;
	padding:5px;
	color:#ff0000;	
}
	

input{
	float:left;
}

#footer{
	clear:both;
	text-align:center;
	padding:50px 0 0 0;
}

.clear{
	clear:both;
}

a img{
border:none;
}