/* CSS Document */
#mainMenu{
background-image:url(../images/icons/med/menu.gif);
background-repeat:no-repeat;
background-position:5px 5px;
height:40px;
padding:0 0 0 50px;
font-size:24px;
color:#666;
}

#mainMenu a{
color:#666;
text-decoration:none;
}

#menuTree{
list-style:none;
font-size:12px;
font-weight:bold;
margin-left:12px;
}

#menuTree a{
display:block;
padding:0 0 0 25px;
text-decoration:none;
color:#333;
font-weight:normal;
font-size:11px;
}

#menuTree li{
margin-bottom:0;
}

#menuTree li ul{
margin-left:0;
}
